In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
import platform

from matplotlib import font_manager, rc
plt.rcParams['axes.unicode_minus'] = False

if platform.system() == 'Darwin':
    rc('font', family='AppleGothic')
elif platform.system() == 'Windows':
    path = "c:/Windows/Fonts/malgun.ttf"
    font_name = font_manager.FontProperties(fname=path).get_name()
    rc('font', family=font_name)
else:
    print('Unknown system... sorry~~~~')

# 1. 법정동 코드 가공

In [3]:
#
locCode = pd.read_excel('../data/법정동코드.xlsx')
locCode.head()

        법정동코드    시도명 시군구명 읍면동명  동리명      생성일자  말소일자
0  1100000000  서울특별시  NaN  NaN  NaN  19880423   NaN
1  1111000000  서울특별시  종로구  NaN  NaN  19880423   NaN
2  1111010100  서울특별시  종로구  청운동  NaN  19880423   NaN
3  1111010200  서울특별시  종로구  신교동  NaN  19880423   NaN
4  1111010300  서울특별시  종로구  궁정동  NaN  19880423   NaN

In [8]:
#읍면동이 NaN인 데이터 추출 > 읍면동 제외
locCode[locCode['읍면동명'].isnull()]
locCode.head()

        법정동코드    시도명 시군구명 읍면동명  동리명      생성일자  말소일자
0  1100000000  서울특별시  NaN  NaN  NaN  19880423   NaN
1  1111000000  서울특별시  종로구  NaN  NaN  19880423   NaN
2  1111010100  서울특별시  종로구  청운동  NaN  19880423   NaN
3  1111010200  서울특별시  종로구  신교동  NaN  19880423   NaN
4  1111010300  서울특별시  종로구  궁정동  NaN  19880423   NaN

In [9]:
# 시군구가 NaN이 아닌 데이터 추출 > 시도명 제외
locCode[locCode['시군구명'].notna()]
locCode.head()

        법정동코드    시도명 시군구명 읍면동명  동리명      생성일자  말소일자
0  1100000000  서울특별시  NaN  NaN  NaN  19880423   NaN
1  1111000000  서울특별시  종로구  NaN  NaN  19880423   NaN
2  1111010100  서울특별시  종로구  청운동  NaN  19880423   NaN
3  1111010200  서울특별시  종로구  신교동  NaN  19880423   NaN
4  1111010300  서울특별시  종로구  궁정동  NaN  19880423   NaN

In [17]:
# 법정동 코드 컬럼에서 5자리 추출합니다.
# 예) 서울특별시 종로구 > 11000
locCode['법정동코드']=locCode['법정동코드'].astype(str)
locCode['지역코드']=locCode['법정동코드'].apply(lambda x: x[:5])
locCode.head()

        법정동코드    시도명 시군구명 읍면동명  동리명      생성일자  말소일자   지역코드
0  1100000000  서울특별시  NaN  NaN  NaN  19880423   NaN  11000
1  1111000000  서울특별시  종로구  NaN  NaN  19880423   NaN  11110
2  1111010100  서울특별시  종로구  청운동  NaN  19880423   NaN  11110
3  1111010200  서울특별시  종로구  신교동  NaN  19880423   NaN  11110
4  1111010300  서울특별시  종로구  궁정동  NaN  19880423   NaN  11110

In [7]:
# 시도명이 서울특별시인 데이터만 추출 후 시도명, 시군구명, 지역코드 컬럼만 추출 
loc = 
loc

       시도명  시군구명   지역코드
1    서울특별시   종로구  11110
89   서울특별시    중구  11140
164  서울특별시   용산구  11170
201  서울특별시   성동구  11200
219  서울특별시   광진구  11215
227  서울특별시  동대문구  11230
238  서울특별시   중랑구  11260
245  서울특별시   성북구  11290
285  서울특별시   강북구  11305
290  서울특별시   도봉구  11320
295  서울특별시   노원구  11350
301  서울특별시   은평구  11380
313  서울특별시  서대문구  11410
334  서울특별시   마포구  11440
361  서울특별시   양천구  11470
365  서울특별시   강서구  11500
379  서울특별시   구로구  11530
390  서울특별시   금천구  11545
394  서울특별시  영등포구  11560
429  서울특별시   동작구  11590
439  서울특별시   관악구  11620
443  서울특별시   서초구  11650
454  서울특별시   강남구  11680
469  서울특별시   송파구  11710
483  서울특별시   강동구  11740

# 2. 실거래가 데이터 가공

In [4]:
# 실거래가 데이터 불러오기
apt = pd.read_csv('../data/2020년 서울 아파트 실거래가.csv', encoding="cp949")
apt.head()

  법정동명   건물면적   층정보  건물주용도코드 건물주용도        거래금액    건축년도         아파트명
0  장위동  59.92   5.0     2001   아파트   749000000     0.0  래미안 장위포레카운티
1  길음동  84.77  18.0     2001   아파트  1200000000     0.0   롯데캐슬 클라시아
2  구로동  36.90   1.0     2001   아파트   105000000  1994.0       궁전아트빌라
3  산천동  59.55   2.0     2001   아파트   830000000  2001.0        리버힐삼성
4  이촌동  64.43   5.0     2001   아파트   735000000  1971.0           강변

In [9]:
# 데이터 프레임의 컬럼을 확인합니다.

Index(['건축년도', '거래년도', '거래월', '거래일자', '법정동', '거래금액', '아파트이름', '전용면적', '지역코드',
       '층', '지번'],
      dtype='object')

In [10]:
# 데이터 프레임의 크기(차원)을 조회합니다

(68864, 11)

In [11]:
# 불러온 데이터에 NA값이 있는지 조회합니다.

건축년도     0
거래년도     0
거래월      0
거래일자     0
법정동      0
거래금액     0
아파트이름    0
전용면적     0
지역코드     0
층        0
지번       0
dtype: int64

In [12]:
# 실거래가 데이터프레임 정보 조회

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 68864 entries, 0 to 68863
Data columns (total 11 columns):
건축년도     68864 non-null int64
거래년도     68864 non-null int64
거래월      68864 non-null int64
거래일자     68864 non-null int64
법정동      68864 non-null object
거래금액     68864 non-null object
아파트이름    68864 non-null object
전용면적     68864 non-null float64
지역코드     68864 non-null int64
층        68864 non-null int64
지번       68864 non-null object
dtypes: float64(1), int64(6), object(4)
memory usage: 5.8+ MB

In [14]:
# 실거래가 데이터프레임 정보 조회 (거래금액 컬럼 변경 확인)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 68864 entries, 0 to 68863
Data columns (total 11 columns):
건축년도     68864 non-null int64
거래년도     68864 non-null int64
거래월      68864 non-null int64
거래일자     68864 non-null int64
법정동      68864 non-null object
거래금액     68864 non-null int64
아파트이름    68864 non-null object
전용면적     68864 non-null float64
지역코드     68864 non-null int64
층        68864 non-null int64
지번       68864 non-null object
dtypes: float64(1), int64(7), object(3)
memory usage: 5.8+ MB

In [18]:
# 범주화된 전용면적의 고유값을 확인합니다.

[(25, 30], (45, 50], (35, 40], (40, 45], (0, 5], ..., (65, 70], (55, 60], (60, 65], (80, 85], (75, 80]]
Length: 17
Categories (17, interval[int64]): [(0, 5] < (5, 10] < (10, 15] < (15, 20] ... (65, 70] < (70, 75] < (75, 80] < (80, 85]]

# 3. 데이터 프레임 결합

In [22]:
# 지역 코드를 기준으로 법정동 코드 데이터 프레임과 아파트 실거래가 데이터 프레임을 결합합니다.

df

,건축년도,거래년도,거래월,거래일자,법정동,거래금액,아파트이름,전용면적,지역코드,층,지번,전용면적(평),전용면적(평)2,전용면적(평)3,반기,분기,평당거래금액,시도명,시군구명
0,2008,2019,1,7,사직동,105000,광화문풍림스페이스본(101동~105동),97.61,11110,10,9,29.53,29,"(25, 30]",상반기,1분기,3620.689655,서울특별시,종로구
1,2008,2019,1,11,사직동,162000,광화문풍림스페이스본(106동),163.33,11110,11,9-1,49.40,49,"(45, 50]",상반기,1분기,3306.122449,서울특별시,종로구
2,2008,2019,1,19,사직동,119000,광화문풍림스페이스본(101동~105동),131.44,11110,13,9,39.76,39,"(35, 40]",상반기,1분기,3051.282051,서울특별시,종로구
3,2008,2019,1,30,사직동,119000,광화문풍림스페이스본(101동~105동),147.31,11110,1,9,44.56,44,"(40, 45]",상반기,1분기,2704.545455,서울특별시,종로구
4,2004,2019,1,25,내수동,160000,경희궁의아침4단지,150.48,11110,14,73,45.52,45,"(40, 45]",상반기,1분기,3555.555556,서울특별시,종로구
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68859,2013,2019,12,30,천호동,14500,하이브2,13.50,11740,11,164-70,4.08,4,"(0, 5]",하반기,4분기,3625.000000,서울특별시,강동구
68860,2009,2019,12,7,강일동,79750,강일리버파크10단지,84.53,11740,9,695,25.57,25,"(20, 25]",하반기,4분기,3190.000000,서울특별시,강동구
68861,2009,2019,12,9,강일동,77800,강일리버파크2단지,84.74,11740,4,668,25.63,25,"(20, 25]",하반기,4분기,3112.000000,서울특별시,강동구
68862,2009,2019,12,25,강일동,80000,강일리버파크7단지,84.83,11740,3,686,25.66,25,"(20, 25]",하반기,4분기,3200.000000,서울특별시,강동구
68863,2009,2019,12,30,강일동,85000,강일리버파크10단지,114.81,11740,14,695,34.73,34,"(30, 35]",하반기,4분기,2500.000000,서울특별시,강동구

# 4. 데이터 분석